.webIcon {
  background-color: blue;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  margin-top: 20%; /* Center content horizontally */
}
.webIcon p {
  color: white;
  font-size: 50px;
  margin: 0; /* Remove default margin */
}

.webIcon .hub {
  background-color: red;
  border-radius: 10px;
  color: white;
  margin-left: 10px; /* Add some space between "Wallpaper" and "Hub" */
}
.ForgotwebIcon {
  background-color: blue;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  margin-top: 2%; /* Center content horizontally */
}
.ForgotwebIcon p {
  color: white;
  font-size: 50px;
  margin: 0; /* Remove default margin */
}

.ForgotwebIcon .hub {
  background-color: red;
  border-radius: 10px;
  color: white;
  margin-left: 10px; /* Add some space between "Wallpaper" and "Hub" */
}

.RegForm {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  position: absolute;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  z-index: 2;
}
.RegBG {
  width: 25%;
  background-color: black;
  position: relative; /* Ensure relative positioning for absolute elements */
  transform: skewX(-40deg);
  transform: skewX(40deg);
  padding-right: 5px;
  padding-left: 5px;
}
.RegText {
  color: white;
  transform: skewX(-100deg);
  transform: skewX(140deg);
}
.AddBG {
  width: 20%;
  background-color: black;
  position: relative; /* Ensure relative positioning for absolute elements */
  transform: skewX(-40deg);
  transform: skewX(40deg);
  padding-right: 5px;
  padding-left: 5px;
}
.AddText {
  color: white;
  transform: skewX(-100deg);
  transform: skewX(140deg);
}

.userInfoAddress {
  margin-top: -1%;
  display: flex;
  justify-content: space-evenly;
}

.userInfoo {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-bottom: 5px;
  width: 100%;
}

.LogInText,
.PasswordText,
.userInfoAddress input {
  width: 100%;
  max-width: 250px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
}
.SubmitButton {
  width: 10%;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.ShowPass {
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: center; /* Align items horizontally center */
  margin-bottom: 1%;
  font-size:large;
}

.ShowPass {
  margin-right: 5px; /* Add some space between the checkbox and the text */
}

@media screen and (max-width: 1080px) and (max-width: 2340px) and (orientation: portrait) {
  .RegForm {
    width: 80%;
    height: 650px;
  }
  .LogInText,
  .PasswordText,
  .userInfoAddress input {
    font-size: x-large;
    height: 40px;
  }
  .RegBG {
    width: 40%;
  }
  .checkbox-label {
    margin-bottom: 2%;
    font-size:larger;
  }
  .AddBG {
    width: 30%;
  }
  .SubmitButton {
    margin-top: 3%;
    width: 18%;
    font-size: 20px;
  }
  p{
    font-size:large;
    margin-top:3%;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .webIcon,
  .ForgotwebIcon {
    margin-top: 5%;
  }
  .dividerTop {
    width: 89.5%;
  }
  .LogInText,
  .PasswordText,
  .userInfoAddress input {
    font-size: 14px;
    height: 30px;
  }
  .RegForm {
    width: 80%;
    height: auto;
  }
  .checkbox-label {
    margin-bottom:3%;
    font-size:large;
  }
  .RegBG {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .RegText {
    font-size: 30px;
  }
  .AddBG {
    width: 30%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .SubmitButton {
    width: 25%;
    margin-top: 5%;
    font-size: medium;
  }
  p{
    font-size:medium;
    margin-top:3%;
    font-weight:normal;
  }
}
