
.LogForm {
    width: 30%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 24px;
    position: absolute;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    z-index: 1;
}
.ResBG {
    width: 70%;
    background-color: black;
    position: relative; /* Ensure relative positioning for absolute elements */
    transform: skewX(-40deg);
    transform: skewX(40deg);
    padding-right: 5px;
    padding-left: 5px;
  }
  .ResText {
    color: white;
    transform: skewX(-100deg);
    transform: skewX(140deg);
  }
.resetInfo{
    margin-top:-10px;
}
 .PasswordText {
    height: 30px;
    width: 60%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    font-family: rockwell;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

::placeholder {
    text-align: center;
}

.checkbox-label {
    cursor: pointer;
}

.SubmitButton {
    margin-top: 3%;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
}

@media screen and (max-width: 1080px) and (max-width: 2340px) and (orientation: portrait) {
    .LogForm {
        width: 60%;
    }
    .ResText {
        font-size: 40px;
    }
    .ResBG {
        font-size: 50px;
        width:80%;
      }
    .PasswordText {
        height: 50px;
        font-size:25px;
    }
    ::placeholder {
        font-size: 30px;
        transform: translateY(10%);
    }
    .checkbox-label {
        font-size:x-large;
    }
    .SubmitButton {
        font-size: 20px;
    }
}

  

@media screen and (max-width: 768px) {
    .ResText {
        font-size: 30px;
    }
    .LogForm, .RegForm {
        width: 65%;
    }
    .ResBG {
        font-size: 15px;
        width:70%;
      }
      .LogInText {
        height: 30px;
    }
    .PasswordText {
        height: 50px;
        font-size:18px;
    }
    ::placeholder{
        font-size:18px;
        transform: translateY(10%);
    }
    .checkbox-label {
        font-size:larger;
    }
    .SubmitButton {
        font-size: 18px;
    }
}
