/* Original layout for desktop */
.LeftBG {
  width: 25%;
  height: auto;
  background-color: white;
  border-radius: 24px;
  position: absolute;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

.quote {
  width: 80%;
  position: relative;
  font-family: rockwell;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.LogoFigma {
  margin-top: 5%;
  width: 90%;
}

.SessionOption {
  margin-top: 13%;
  margin-left: 72.5%;
  background-color: rgba(255, 255, 255, 0.637);
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  max-width: 300px; /* Set a maximum width */
  height: auto;
  padding: 20px;
  position: absolute;
}

.LogInButton,
.SignUpButton {
  background-color: blue;
  width: 100%; /* Adjusted to fill the container */
  max-width: 250px; /* Set a maximum width */
  height: 40px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}

.LogInText,
.PasswordText {
  width: 100%; /* Adjusted to fill the container */
  max-width: 250px; /* Set a maximum width */
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
}

.SubmitButton {
  width: 20%; /* Adjusted to fill the container */
  max-width: 250px; /* Set a maximum width */
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
  cursor: pointer;
}

.SignUpButton {
  background-color: blue;
  width: 30%; /* Adjusted to fill the container */
  max-width: 250px; /* Set a maximum width */
  height: 30px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px; /* Add margin-bottom to create space */
}

.ShowPass {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Media query for mobile devices */
@media screen and (min-width: 1080px) and (max-width: 2340px) and (orientation: portrait) {
  .LeftBG {
    width: 70%;
    height: auto;
  }
  .LogInText,
  .PasswordText {
    width: 100%; /* Adjusted to fill the container */
    max-width: 250px; /* Set a maximum width */
    font-size:x-large;
  }
  .quote{
    font-size:x-large;
  }
  .ShowPass{
    font-size:x-large;
  }
  .SubmitButton{
    font-size:x-large;
  }
  p{
    font-size:x-large;
  }
  .SignUpButton{
    padding:10px;
  }
}
@media screen and (max-width: 768px) {
  .LeftBG {
    width: 70%;
    height: auto;
  }

  .LogInText,
  .PasswordText {
    width: 100%; /* Adjusted to fill the container */
    max-width: 250px; /* Set a maximum width */
  }
}
